<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>AutomobileRentalService</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddUserController</display-name>
    <servlet-name>AddUserController</servlet-name>
    <servlet-class>user.controller.AddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserController</servlet-name>
    <url-pattern>/AddUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDAO</display-name>
    <servlet-name>UserDAO</servlet-name>
    <servlet-class>user.dao.UserDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDAO</servlet-name>
    <url-pattern>/UserDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionManager</display-name>
    <servlet-name>ConnectionManager</servlet-name>
    <servlet-class>user.connection.ConnectionManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionManager</servlet-name>
    <url-pattern>/ConnectionManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>user.model.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chooseController</display-name>
    <servlet-name>chooseController</servlet-name>
    <servlet-class>car.controller.chooseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chooseController</servlet-name>
    <url-pattern>/chooseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarDAO</display-name>
    <servlet-name>CarDAO</servlet-name>
    <servlet-class>car.dao.CarDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarDAO</servlet-name>
    <url-pattern>/CarDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Car</display-name>
    <servlet-name>Car</servlet-name>
    <servlet-class>rent.model.Car</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Car</servlet-name>
    <url-pattern>/Car</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addCarController</display-name>
    <servlet-name>addCarController</servlet-name>
    <servlet-class>car.controller.addCarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCarController</servlet-name>
    <url-pattern>/addCarController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Booking</display-name>
    <servlet-name>Booking</servlet-name>
    <servlet-class>rent.model.Booking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Booking</servlet-name>
    <url-pattern>/Booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingDAO</display-name>
    <servlet-name>BookingDAO</servlet-name>
    <servlet-class>booking.dao.BookingDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingDAO</servlet-name>
    <url-pattern>/BookingDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addBookingController</display-name>
    <servlet-name>addBookingController</servlet-name>
    <servlet-class>booking.controller.addBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBookingController</servlet-name>
    <url-pattern>/addBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bezzaController</display-name>
    <servlet-name>bezzaController</servlet-name>
    <servlet-class>car.controller.bezzaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bezzaController</servlet-name>
    <url-pattern>/bezzaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>myviController</display-name>
    <servlet-name>myviController</servlet-name>
    <servlet-class>car.controller.myviController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myviController</servlet-name>
    <url-pattern>/myviController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>axiaController</display-name>
    <servlet-name>axiaController</servlet-name>
    <servlet-class>car.controller.axiaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>axiaController</servlet-name>
    <url-pattern>/axiaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>kancilController</display-name>
    <servlet-name>kancilController</servlet-name>
    <servlet-class>car.controller.kancilController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kancilController</servlet-name>
    <url-pattern>/kancilController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>personaController</display-name>
    <servlet-name>personaController</servlet-name>
    <servlet-class>car.controller.personaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personaController</servlet-name>
    <url-pattern>/personaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>wiraController</display-name>
    <servlet-name>wiraController</servlet-name>
    <servlet-class>car.controller.wiraController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wiraController</servlet-name>
    <url-pattern>/wiraController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdminContoller</display-name>
    <servlet-name>AddAdminContoller</servlet-name>
    <servlet-class>admin.controller.AddAdminContoller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminContoller</servlet-name>
    <url-pattern>/AddAdminContoller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminController</display-name>
    <servlet-name>UpdateAdminController</servlet-name>
    <servlet-class>admin.controller.UpdateAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminController</servlet-name>
    <url-pattern>/UpdateAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdminController</display-name>
    <servlet-name>DeleteAdminController</servlet-name>
    <servlet-class>admin.controller.DeleteAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdminController</servlet-name>
    <url-pattern>/DeleteAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAdminController</display-name>
    <servlet-name>ViewAdminController</servlet-name>
    <servlet-class>admin.controller.ViewAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAdminController</servlet-name>
    <url-pattern>/ViewAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listCarController</display-name>
    <servlet-name>listCarController</servlet-name>
    <servlet-class>car.controller.listCarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listCarController</servlet-name>
    <url-pattern>/listCarController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteAdminController</display-name>
    <servlet-name>deleteAdminController</servlet-name>
    <servlet-class>car.controller.deleteAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAdminController</servlet-name>
    <url-pattern>/deleteAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCarController</display-name>
    <servlet-name>deleteCarController</servlet-name>
    <servlet-class>car.controller.deleteCarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCarController</servlet-name>
    <url-pattern>/deleteCarController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateCarController</display-name>
    <servlet-name>updateCarController</servlet-name>
    <servlet-class>car.controller.updateCarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCarController</servlet-name>
    <url-pattern>/updateCarController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateBookingController</display-name>
    <servlet-name>updateBookingController</servlet-name>
    <servlet-class>booking.controller.updateBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateBookingController</servlet-name>
    <url-pattern>/updateBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listBookingController</display-name>
    <servlet-name>listBookingController</servlet-name>
    <servlet-class>booking.controller.listBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listBookingController</servlet-name>
    <url-pattern>/listBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBookingController</display-name>
    <servlet-name>deleteBookingController</servlet-name>
    <servlet-class>booking.controller.deleteBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBookingController</servlet-name>
    <url-pattern>/deleteBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewBookingController</display-name>
    <servlet-name>viewBookingController</servlet-name>
    <servlet-class>booking.controller.viewBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewBookingController</servlet-name>
    <url-pattern>/viewBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginController</display-name>
    <servlet-name>loginController</servlet-name>
    <servlet-class>user.controller.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginAdminController</display-name>
    <servlet-name>loginAdminController</servlet-name>
    <servlet-class>admin.controller.loginAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginAdminController</servlet-name>
    <url-pattern>/loginAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardController</display-name>
    <servlet-name>DashboardController</servlet-name>
    <servlet-class>admin.controller.DashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardController</servlet-name>
    <url-pattern>/DashboardController</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>paymentDetailsController</display-name>
    <servlet-name>paymentDetailsController</servlet-name>
    <servlet-class>payment.controller.paymentDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentDetailsController</servlet-name>
    <url-pattern>/paymentDetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateProfileController</display-name>
    <servlet-name>updateProfileController</servlet-name>
    <servlet-class>user.controller.updateProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProfileController</servlet-name>
    <url-pattern>/updateProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewProfileController</display-name>
    <servlet-name>viewProfileController</servlet-name>
    <servlet-class>user.controller.viewProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewProfileController</servlet-name>
    <url-pattern>/viewProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAdminController</display-name>
    <servlet-name>ListAdminController</servlet-name>
    <servlet-class>admin.controller.ListAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAdminController</servlet-name>
    <url-pattern>/ListAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdminController</display-name>
    <servlet-name>AddAdminController</servlet-name>
    <servlet-class>admin.controller.AddAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminController</servlet-name>
    <url-pattern>/AddAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>makePaymentController</display-name>
    <servlet-name>makePaymentController</servlet-name>
    <servlet-class>payment.controller.makePaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>makePaymentController</servlet-name>
    <url-pattern>/makePaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmBookingController</display-name>
    <servlet-name>ConfirmBookingController</servlet-name>
    <servlet-class>booking.controller.ConfirmBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmBookingController</servlet-name>
    <url-pattern>/ConfirmBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addPaymentController</display-name>
    <servlet-name>addPaymentController</servlet-name>
    <servlet-class>payment.controller.addPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPaymentController</servlet-name>
    <url-pattern>/addPaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rentOutCarController</display-name>
    <servlet-name>rentOutCarController</servlet-name>
    <servlet-class>car.controller.rentOutCarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rentOutCarController</servlet-name>
    <url-pattern>/rentOutCarController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCarRRController</display-name>
    <servlet-name>ListCarRRController</servlet-name>
    <servlet-class>user.controller.ListCarRRController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCarRRController</servlet-name>
    <url-pattern>/ListCarRRController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCarRRController</display-name>
    <servlet-name>deleteCarRRController</servlet-name>
    <servlet-class>user.controller.deleteCarRRController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCarRRController</servlet-name>
    <url-pattern>/deleteCarRRController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateCarRRController</display-name>
    <servlet-name>updateCarRRController</servlet-name>
    <servlet-class>user.controller.updateCarRRController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCarRRController</servlet-name>
    <url-pattern>/updateCarRRController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCarRRController</display-name>
    <servlet-name>EditCarRRController</servlet-name>
    <servlet-class>user.controller.EditCarRRController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCarRRController</servlet-name>
    <url-pattern>/EditCarRRController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOfBookingRRController</display-name>
    <servlet-name>ListOfBookingRRController</servlet-name>
    <servlet-class>user.controller.ListOfBookingRRController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOfBookingRRController</servlet-name>
    <url-pattern>/ListOfBookingRRController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBookingRRController</display-name>
    <servlet-name>deleteBookingRRController</servlet-name>
    <servlet-class>user.controller.deleteBookingRRController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBookingRRController</servlet-name>
    <url-pattern>/deleteBookingRRController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateBookingRRController</display-name>
    <servlet-name>updateBookingRRController</servlet-name>
    <servlet-class>user.controller.updateBookingRRController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateBookingRRController</servlet-name>
    <url-pattern>/updateBookingRRController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutController</display-name>
    <servlet-name>logoutController</servlet-name>
    <servlet-class>user.controller.logoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutController</servlet-name>
    <url-pattern>/logoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOfPaymentRRController</display-name>
    <servlet-name>ListOfPaymentRRController</servlet-name>
    <servlet-class>user.controller.ListOfPaymentRRController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOfPaymentRRController</servlet-name>
    <url-pattern>/ListOfPaymentRRController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingCancelController</display-name>
    <servlet-name>BookingCancelController</servlet-name>
    <servlet-class>booking.controller.BookingCancelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingCancelController</servlet-name>
    <url-pattern>/BookingCancelController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPaymentController</display-name>
    <servlet-name>ViewPaymentController</servlet-name>
    <servlet-class>payment.controller.ViewPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPaymentController</servlet-name>
    <url-pattern>/ViewPaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayCarController</display-name>
    <servlet-name>DisplayCarController</servlet-name>
    <servlet-class>car.controller.DisplayCarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCarController</servlet-name>
    <url-pattern>/DisplayCarController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>invoiceController</display-name>
    <servlet-name>invoiceController</servlet-name>
    <servlet-class>payment.controller.invoiceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>invoiceController</servlet-name>
    <url-pattern>/invoiceController</url-pattern>
  </servlet-mapping>
</web-app>